
@gap-size:@grid-gutter-width;

@import "helper.less";
@container-large-desktop:      (950px + @grid-gutter-width);


@-webkit-keyframes leftin {
  0% {
    -webkit-transform: translate(-100%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes leftin2 {
  0% {
    -webkit-transform: translate(-100%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes rightin {
  0% {
    -webkit-transform: translate(100%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}
@-webkit-keyframes rightin2 {
  0% {
    -webkit-transform: translate(100%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}

footer{
  margin: 5em 0px;
  text-align:center;
}

footer li {
  display:inline-block;
  margin-right:1em;
  margin-left:1em;
}

.wasteland
{
  display:none;
  position: absolute;
  top: -100000px;
}

.gr_0i0
{
  -webkit-animation: leftin .4s;
}
.gr_0i1
{
  -webkit-animation: leftin2 .4s;
}
.gr_1i0
{
  -webkit-animation: rightin .4s;
}
.gr_1i1
{
  -webkit-animation: rightin2 .4s;
}

#gr_0, #gr_1{
  overflow:hidden;
}

#g_result
{
  text-align:center;
  img.gr
  {
    width:12em;
    display:block;
    margin:auto;
    max-width:100%;
    border:4px solid black;
  }

}
#g_hand{
  .gh{
    border: solid @brand-success 0.5em;
  }
  
  svg{
    width:100%;
    height:2em;
  }
  > div > .btn{
    width:100%;
  }
}
#g_stat{
  #gs_table{
    width:100%;
    margin-bottom:0px;
    td{
      text-align:center;
    }
  }
}
#rh_heading h4{
  text-align:center;
}
#rh_body {
  img{
    height:3em;
  }
  th,td{
    text-align:center;
    vertical-align:middle;
  }
}

@media screen and (max-width: 2000px) {
  #main{
    font-size:24px;
  }
}
@media screen and (max-width: 800px) {
  #main{
    font-size:18px;
  }
}
@media screen and (max-width: 500px) {
  #main{
    font-size:14px;
  }
}
.svg_rps{
  fill:#ffffff;
  stroke:#FFFFFF;
  stroke-width:5px;
}
.svg_rps .svg_back{
  fill: none;
  stroke-width: 3px;
}
.progress{
  height:30px;
}
@test-pre:0%;
#s_bar{
  height:8px;
  margin-bottom:0px;
}
#s_text{
  text-align:center;
}
